<asDocConfig>
  <options buildNum="asd3_0_b2_1" docversion="3" includePrivate="false" verbose="false" splitIndex="true" showFeedbackLink="false"
	     showVersions="false" showMXMLOnly="false" />
  <warnings langversion="false" playerversion="false"/>
  <xmlInputFile>toplevel.xml</xmlInputFile>
  <xmlOutputFile>toplevel_classes.xml</xmlOutputFile>
  <title size="20"><![CDATA[S2Flex2-Componets - ActionScript 3.0 S2Flex2 Gateway Connector components]]></title>  
  <languageElements show="false" functions="false" operators="false" statements="false" />
  <namespaces hideAll="false">
   	<namespace hide="true">mx_internal</namespace>
	<namespace hide="false">flash_proxy</namespace>
	<namespace hide="false">object_proxy</namespace>
	<namespace hide="false">mx_inner</namespace>
  </namespaces>
  <packages hideAll="false">
  	<package hide="true">mx.messaging.channels.amfx</package>
  </packages>
  <index>
  </index>
  <appendixes show="true" deprecated="false">
  </appendixes>
</asDocConfig>